h1 {
    color: #ba25ba;
    font-size: 50px;
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position:relative;
}

#title {
    text-align: center;
}

#caption {
    text-align: center;
}
h2 {
    color: #ba25ba;
    font-size: 20px;
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position:relative;
}
.score {
    color: #ba25ba;
    font-size: 18px;
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position:relative
}

h4 {color: #ba25ba;
    font-size: 18px;
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position:relative;
    left: -47%

}

h5 {color: #ba25ba;
     font-size: 18px;
     font-style: normal;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     position:relative;
    left: -47%

 }




#game {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    position: relative;


}

#greeting {
    position:absolute;
    left: -40%;
    top: 100%;
    background:#F0B2F0;
    width: 350px;
    height: 185px;
    border: 2px lightgrey;
    border-radius: 5px;
    padding: 10px;
    display: none;
}



